<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>802773261987-bnp7o0p49iv6pmd2sdig2m5sj7jm0a5e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.802773261987-bnp7o0p49iv6pmd2sdig2m5sj7jm0a5e</string>
	<key>API_KEY</key>
	<string>AIzaSyALcuUWCwA7wSV_KoDS5xTXvKYIv8QA7ek</string>
	<key>GCM_SENDER_ID</key>
	<string>802773261987</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.coffeeCameo</string>
	<key>PROJECT_ID</key>
	<string>cameo-coffee</string>
	<key>STORAGE_BUCKET</key>
	<string>cameo-coffee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:802773261987:ios:76bf5a2d9279caeedc2916</string>
</dict>
</plist>